{% for item in services|slice(0, 4) %}
    <div class="col-lg-3 col-md-6 col-12">
        <div class="position-relative features bg-white text-center rounded shadow p-4 pt-5">
            <div class="position-relative d-flex justify-content-center">
                <i data-feather="{{ item.icon }}" class="fea icon-md text-primary z-1"></i>
                <div class="feature-icon bg-soft-primary position-absolute top-0 translate-middle"></div>
            </div>

            <div class="mt-4">
                <a href="{{ path('app_service_detail', { 'slug': item.title|lower|replace({' ': '-'}) }) }}" class="h5 text-dark link-title">{{ item.title }}</a>
                <p class="text-muted mt-3">{{ item.desc }}</p>
                <a href="{{ path('app_service_detail', { 'slug': item.title|lower|replace({' ': '-'}) }) }}" class="text-primary">Learn More <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div>
        </div>
    </div>
{% endfor %}