---
import Layout from "../layouts/Layout.astro";

import bg1 from '../assets/images/hero/1.jpg'
import bg2 from '../assets/images/hero/2.jpg'
import bg3 from '../assets/images/hero/3.jpg'
import about1 from '../assets/images/about/hos1.jpg'
import about2 from '../assets/images/about/hos2.jpg'

import { hospitalServices } from '../data/data'

import Navlight from "../components/navbar/navlight.astro";
import CtaTwo from '../components/cta/cta-two.astro'
import HospitalTime from '../components/hospital/hospital-time.astro'
import HospitalCta from '../components/hospital/hospital-cta.astro'
import BlogOne from '../components/blog-one.astro'
import DrTeam from '../components/hospital/dr-team.astro'
import Footer from '../components/footer.astro'
---

<Layout>
    <Navlight/>

    <section class="swiper-slider-hero position-relative d-block vh-100" id="home">
		<div class="swiper-container swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide d-flex align-items-center overflow-hidden">
					<div class="slide-inner slide-bg-image d-flex align-items-center" style={`background-image: url('${bg1.src}')`}>
						<div class="bg-overlay"></div>
						<div class="container">
							<div class="row justify-content-center mt-5">
								<div class="col-12">
									<div class="title-heading">
										<h1 class="heading text-white title-dark fw-bold mb-4 text-capitalize">Book your treatment <br> appointment</h1>
										<p class="para-desc text-white-50">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
										
										<div class="mt-4 pt-2">
											<a href="#" class="btn btn-primary">Make Appointment</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> 
	
				<div class="swiper-slide d-flex align-items-center overflow-hidden">
					<div class="slide-inner slide-bg-image d-flex align-items-center" style={`background-image: url('${bg2.src}')`}>
						<div class="bg-overlay"></div>
						<div class="container">
							<div class="row justify-content-center mt-5">
								<div class="col-12">
									<div class="title-heading">
										<h1 class="heading text-white title-dark fw-bold mb-4 text-capitalize">Meet the <br> best Doctors</h1>
										<p class="para-desc text-white-50">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
										
										<div class="mt-4 pt-2">
											<a href="#" class="btn btn-primary">Find a Doctor</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> 
	
				<div class="swiper-slide d-flex align-items-center overflow-hidden">
					<div class="slide-inner slide-bg-image d-flex align-items-center" style={`background-image: url('${bg3.src}')`}>
						<div class="bg-overlay"></div>
						<div class="container">
							<div class="row justify-content-center mt-5">
								<div class="col-12">
									<div class="title-heading">
										<h1 class="heading text-white title-dark fw-bold mb-4 text-capitalize">Most trusted health <br> partner for your life.</h1>
										<p class="para-desc text-white-50">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
										
										<div class="mt-4 pt-2">
											<a href="#" class="btn btn-primary">Contact Us</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</section>

    <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6 mb-5 mb-md-0 pb-5 pb-md-4">
                    <div class="position-relative">
                        <div class="me-lg-5 me-4">
                            <img src={about1.src} class="img-fluid rounded border border-4 shadow" alt=""/>
                        </div>
                        
                        <div class="position-absolute top-50 end-0">
                            <img src={about2.src} class="img-fluid h-auto rounded border border-4 shadow" width="250px" alt=""/>

                            <div class="position-absolute top-0 start-0 translate-middle">
                                <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="avatar avatar-md-md rounded-pill shadow card d-flex justify-content-center align-items-center lightbox">
                                    <i class="mdi mdi-play mdi-24px text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-7 col-md-6 mt-4 mt-md-0 pt-4 pt-md-0">
                    <div class="section-title ms-lg-5">
                        <h6 class="text-primary small text-uppercase">Coral Healthcare</h6>
                        <h4 class="title my-3">Good Services And Better <br> Health By Our Specialists</h4>
                        <p class="para-desc text-muted">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
                        <p class="para-desc text-muted">The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin. It contains a series of real Latin words.</p>
                        <div class="mt-4">
                            <a href="javascript:void(0)" class="btn btn-soft-primary">Make Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title mb-3">Services of Clinical Excellence</h4>
                        <p class="text-muted para-desc mx-auto mb-0">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
                    </div>
                </div>
            </div>

            <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4 mt-2">
                {hospitalServices.map((item)=>( 
                    <div class="col">
                        <div class="position-relative features fea-medical text-center rounded shadow p-4">
                            <div class="position-relative d-flex justify-content-center">
                                <img src={item.image.src} class="avatar avatar-md-sm z-1" alt=""/>
                                <div class="feature-icon bg-soft-primary position-absolute top-50 start-50 translate-middle avatar avatar-small"></div>
                            </div>
    
                            <div class="mt-4">
                                <a href="/service-detail" class="h5 text-dark link-title">{item.title}</a>
                                <p class="text-muted mt-3">{item.desc}</p>
                                <a href="/service-detail" class="text-primary">Read More <i class="mdi mdi-arrow-right align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                ))}
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-12 text-center">
                    <a href="/services" class="btn btn-link primary fs-6">See More Services <i class="mdi mdi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>

    <CtaTwo/>

    <HospitalTime/>

    <HospitalCta/>
    
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title mb-3">Doctor's Team</h4>
                        <p class="text-muted para-desc mx-auto mb-0">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
                    </div>
                </div>
            </div>
            <DrTeam/>
        </div>

        <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title mb-3">Blog Or News</h4>
                        <p class="text-muted para-desc mx-auto mb-0">We value every human life placed in our hands and constantly work towards meeting the expectations of our patients.</p>
                    </div>
                </div>
            </div>
            <BlogOne/>
        </div>
    </section>

    <Footer/>

</Layout>

<script>
	import Swiper from 'swiper';
	import { Navigation, Pagination, Autoplay } from 'swiper/modules';
	
	const swiper = new Swiper('.swiper', {
	  modules: [Navigation, Pagination,Autoplay],
	  direction: 'horizontal', 
	  loop: true,
	  autoplay: {
      delay: 3000,
      disableOnInteraction: false, 
    },
	speed: 2000,
	  pagination: {
		el: '.swiper-pagination',
		clickable: true,
	  },
	  navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev',
	  },
	});
	</script>