{% for item in sliders %}
    <div class="tiny-slide">
        <div class="position-relative overflow-hidden rounded shadow bg-white p-4 m-2">
            <div class="position-relative d-flex align-items-center justify-content-between z-1">
                <div class="d-flex align-items-center">
                    <img src="{{ asset( item.img ) }}" class="rounded-pill shadow bg-white avatar avatar-md-sm" alt="">
                    
                    <div class="ms-3">
                        <h6 class="mb-1"><a href="" class="text-dark link-title">{{ item.title }}</a></h6>
                        <h6 class="text-{{ item.class }} small mb-0">{{ item.price }}</h6>
                    </div>
                </div>
                
                <div class="ms-2">
                    <span class="badge bg-{{ item.class }} rounded-pill">{{ item.percentage }}</span>
                </div>
            </div>
            
            <div class="position-absolute top-50 start-100 translate-middle">
                <img src="{{ asset( item.img ) }}" class="avatar avatar-md-md opacity-10 me-5" alt="">
            </div>
        </div>
    </div>
{% endfor %}