{% extends 'Base/base.html.twig' %}

{% block content %}

{% include 'Base/navbar2.html.twig' %}
         
<!-- Hero Start -->
<section class="bg-half-170 bg-soft-primary overflow-hidden" style="background: url('{{ asset('assets/images/hero/bg-squre.png') }}') center center;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-heading">
                    <div class="row align-items-end">
                        <div class="col-lg-9 col-12">
                            <div class="position-relative">
                                <span class="clip-text clip-text-image text-uppercase fw-bold position-relative z-1 lh-base" style="background-image: url('{{ asset('assets/images/hero/bg-digital.jpg') }}');">Digital <br> Marketing <br> Agency.</span>

                                <div class="position-absolute top-50 start-100 translate-middle">
                                    <div class="tilt-3d margin-absolute">
                                        <div class="tilt-3d-trigger">
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                                
                                            <div class="tilt-3d-image position-relative">
                                                <img src="{{ asset('assets/images/about/1.jpg') }}" class="avatar avatar-ex-large h-auto mover mb-5" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="position-absolute top-100 start-0 translate-middle">
                                    <div class="tilt-3d margin-absolute">
                                        <div class="tilt-3d-trigger">
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                            <div class="trigger"></div>
                                                
                                            <div class="tilt-3d-image position-relative">
                                                <img src="{{ asset('assets/images/about/4.jpg') }}" class="avatar avatar-ex-large h-auto mover-2 mt-5" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->
    
                        <div class="col-lg-3 col-12">
                            <p class="text-muted para-desc mb-0">We're a full-service creative digital marketing agency, collaborating with brands all over the world.</p>
                            
                            <div class="mt-4">
                                <a href="" class="btn btn-primary">Get Consultation <i class="mdi mdi-arrow-right"></i></a>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div>
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Start -->
<section class="py-4 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 my-2">
                <div class="text-slider">
                    <ul class="list-inline mb-0 move-text">

                        <!-- templates/Base/Home/index-digital-marketing/partners.html.twig -->
                        {% include 'Base/Home/index-digital-marketing/partners.html.twig' %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End -->

<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 order-lg-1 order-3">
                <div class="row g-4">
                    
                    <!-- templates/Base/Home/index-digital-marketing/counter2.html.twig -->
                    {% include 'Base/Home/index-digital-marketing/counter2.html.twig' %}

                </div><!--end row-->
            </div>

            <div class="col-lg-4 col-md-6 order-lg-2 order-1">
                <div class="position-relative">
                    <div class="row align-items-end">
                        <div class="col-7">
                            <img src="{{ asset('assets/images/about/1.jpg') }}" class="img-fluid rounded" alt="">
                        </div><!--end col-->

                        <div class="col-5">
                            <img src="{{ asset('assets/images/about/3.jpg') }}" class="img-fluid rounded" alt="">
                        </div><!--end col-->
                    </div><!--end row-->

                    <div class="row align-items-start mt-4">
                        <div class="col-5">
                            <img src="{{ asset('assets/images/about/4.jpg') }}" class="img-fluid rounded" alt="">
                        </div><!--end col-->

                        <div class="col-7">
                            <img src="{{ asset('assets/images/about/2.jpg') }}" class="img-fluid rounded" alt="">
                        </div><!--end col-->
                    </div><!--end row-->

                    <div class="position-absolute top-50 start-50 translate-middle">
                        <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="avatar avatar-md-md rounded-pill shadow card d-flex justify-content-center align-items-center lightbox">
                            <i class="mdi mdi-play mdi-24px text-primary"></i>
                        </a>
                    </div>

                    <div class="position-absolute top-50 start-50 translate-middle z-n1">
                        <div class="bg-primary rounded opacity-75 p-5"><div class="p-5 m-5"></div></div>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-6 col-md-6 mt-4 mt-md-0 pt-2 pt-md-0 order-lg-3 order-2">
                <div class="section-title ms-lg-4">
                    <h6 class="text-primary text-uppercase">What we are?</h6>
                    <h4 class="title mb-3">Coral is a business that <br> provides services related <br> to online marketing.</h4>

                    <p class="text-muted para-desc">We're a full-service creative digital marketing agency, collaborating with brands all over the world.</p>

                    <p class="text-muted para-desc mb-0">Our SEO experts optimize your website to rank higher on search engines, ensuring increased visibility and organic traffic. From keyword research to on-page optimization and link building, we employ the latest techniques improve your search engine rankings.</p>

                    <div class="mt-4">
                        <a href="" class="btn btn-primary">About Us <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Our services will make <br> your product successful</h4>
                    <p class="text-muted para-desc mx-auto mb-0">We're a full-service creative digital marketing agency, collaborating with brands all over the world.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row g-4">
            
            <!-- templates/Base/Home/index-digital-marketing/services4.html.twig -->
            {% include 'Base/Home/index-digital-marketing/services4.html.twig' %}

        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End -->

<!-- Start CTA -->
<section class="cta-video-section position-relative">
    <video class="" autoplay loop>
        <source src="{{ asset('assets/images/video.mp4') }}" type="video/mp4">
    </video>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-10">
                <div class="position-relative z-1 p-4 rounded shadow bg-white">
                    <div class="tiny-single-item">
                        
                        <!-- templates/Base/Home/index-consulting/review3.html.twig -->
                        {% include 'Base/Home/index-consulting/review3.html.twig' %}

                    </div>

                    <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                </div>
            </div>
        </div>
    </div>
</section><!--end section-->
<!-- End CTA -->

<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row align-lg-items-center mb-4 pb-2">
            <div class="col-lg-6 col-md-5">
                <div class="section-title text-md-start text-center">
                    <h4 class="title mb-3 mb-md-0">Our Portfolio</h4>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-6 col-md-7">
                <div class="text-md-start text-center">
                    <p class="text-muted para-desc mx-auto mb-0">We're a full-service creative digital marketing agency, collaborating with brands all over the world.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row g-4">
            
            <!-- templates/Base/Home/index-digital-marketing/portfolio.html.twig -->
            {% include 'Base/Home/index-digital-marketing/portfolio.html.twig' %}

        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60 overflow-hidden">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="position-relative">
                    <img src="{{ asset('assets/images/faqs.svg') }}" class="img-fluid" alt="">

                    <div class="modern-app-round round-small"></div>
                </div>
            </div><!--end col-->

            <div class="col-lg-6 col-md-6 mt-4 mt-md-0 pt-2 pt-md-0">
                <div class="section-title ms-lg-3">
                    <h4 class="title mb-3">Frequently Asked Questions</h4>
                    <p class="text-muted para-desc mb-0">We're a full-service creative digital marketing agency, collaborating with brands all over the world.</p>
                
                    <div class="accordion mt-4 pt-2" id="buyingquestion">
                        <div class="accordion-item rounded shadow">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button border-0 bg-white shadow" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    How does it work ?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse border-0 collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#buyingquestion">
                                <div class="accordion-body text-muted">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item rounded shadow mt-2">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Do I need a designer to use Coral ?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse border-0 collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#buyingquestion">
                                <div class="accordion-body text-muted">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item rounded shadow mt-2">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What do I need to do to start selling ?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse border-0 collapse" aria-labelledby="headingThree"
                                data-bs-parent="#buyingquestion">
                                <div class="accordion-body text-muted">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item rounded shadow mt-2">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button border-0 bg-white shadow collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    What happens when I receive an order ?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse border-0 collapse" aria-labelledby="headingFour"
                                data-bs-parent="#buyingquestion">
                                <div class="accordion-body text-muted">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Our Minds</h4>
                    <p class="text-muted para-desc mx-auto mb-0">We're a full-service creative digital marketing agency, collaborating with brands all over the world.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row align-items-center g-4">
                
            <!-- templates/Base/Home/index/minds.html.twig -->
            {% include 'Base/Home/index/minds.html.twig' %}

        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Blog Or News</h4>
                    <p class="text-muted para-desc mx-auto mb-0">We're a full-service creative digital marketing agency, collaborating with brands all over the world.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row g-4">
                
            <!-- templates/Base/Home/index/blog.html.twig -->
            {% include 'Base/Home/index/blog.html.twig' %}

        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
    
<!-- templates/Base/Home/index/offcanvas.html.twig -->
{% include 'Base/Home/index/offcanvas.html.twig' %}

{% include 'Base/footer.html.twig' %}

{% endblock %}